* {
    background-color: black;
    outline: 2px solid red;
    
}
.title {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 60px;
}
.start {
    display: flex;
    justify-content: space-evenly;
}
.start button{
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: lightblue;
}

#score {
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
}
